body {
    background-color: #B0E298;
    font-family: 'Merriweather', serif;
    font-size: 26px;
    color: #000;
    }
h1, h2, h3, h4, h5, h6 {
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    
}
.titles {
    display: flex;
    justify-content: center;
    
}

/*For mobile devices*/
@media (max-width: 480px) {
body {
    background-color: #3D3B8E;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    color: #FFF;
    }
h1, h2, h3, h4, h5, h6 {
    font-size: 20px;
    }



